
.app {
  background-color: 8ff7cf;
}

.user-status {
  border-radius: 35%;
  width: 600px;
  height: 80x;
  padding-bottom: 10px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cff4f7;
}



body {
  text-align: center;
}

.square {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 15%;
  margin-bottom: 20px;
  overflow-y: auto;
}
.square-title {
  padding-top: 50px;
  font: 22px arial;
}

.square-label {
    background-color: pink;
    width: 600px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
}

.note {
  border-style: solid;
  border-radius: 15%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
